@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Open+Sans+Condensed:wght@300&family=Raleway:wght@200&family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Raleway+Dots&family=Raleway:wght@200;400&family=Roboto:wght@100&display=swap');

.map {
    height: 700px;
    width: 1200px;
    border-radius: 5px;
    opacity: 0;
}
body {
    background: linear-gradient(#223355, 70%, #aa8888);
    font-family: 'Raleway Dots', sans-serif;
}
html {
    min-height: 100%;
}
h1 {
    justify-items: center;
    font-family: 'Raleway Dots', cursive;
    color: white;
    font-weight: 500;
}
h3 {
    margin-top: 10px;
}
h5 {
    margin-bottom: 20px;
}
h3, h5 {
    text-align: center;
    font-family: 'Raleway Dots', cursive;
    color: white;
    font-weight: 600;
}
/*h6 {
    text-align: center;
    font-family: 'Raleway Dots', cursive;
    color: white;
}*/
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1400px;
    flex-direction: column;
}
#mapdescription {
    text-align: justify;
    font-family: 'Raleway Dots', cursive;
    color: white;
    font-weight: bold;
    width: 1200px;
    margin-top: 5px;
}
a {
    color: lightskyblue;
}
.footnotes {
    font-size: smaller;
    text-align: left;
}

.leaflet-routing-container {
    display: none;
}
.leaflet-popup-content-wrapper {
    background: linear-gradient(to top, #D5E8EB, white);
    padding: 10px;
}
.leaflet-popup-content {
    background: linear-gradient(to top, #D5E8EB, white);
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    margin: 3px;
}
.leaflet-popup-tip {
    background: #D5E8EB;
}

/* Heading and map transition */
@keyframes transitionDown {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}
h3 {
    animation: transitionDown 5s;
}
h5 {
    animation: transitionDown 5s;
    animation-delay: 2s;
    animation-fill-mode: both;
}
.map {
    animation: transitionDown 3s;
    animation-delay: 4s;
    animation-fill-mode: forwards;
}

/* Circle transition */
@keyframes circlemarkerTrans {
    0% {
        stroke: red;
        opacity: 0;
    }
    50% {
        stroke: red;
        opacity: 1;
    }
    100% {
        stroke: red;
        opacity: 0;
    }
}
.circle-transition14 {
    animation: circlemarkerTrans, makevisible;
    animation-duration: 5s, 5s;
    animation-delay: 7s, 52s;
    animation-fill-mode: both, forwards;
}
.circle-transition15 {
    animation: circlemarkerTrans, makevisible;
    animation-duration: 5s, 5s;
    animation-delay: 12s, 52s;
    animation-fill-mode: both, forwards;
}
.circle-transition16 {
    animation: circlemarkerTrans, makevisible;
    animation-duration: 5s, 5s;
    animation-delay: 17s, 52s;
    animation-fill-mode: both, forwards;
}
.circle-transition17 {
    animation: circlemarkerTrans, makevisible;
    animation-duration: 5s, 5s;
    animation-delay: 22s, 52s;
    animation-fill-mode: both, forwards;
}
.circle-transition18 {
    animation: circlemarkerTrans, makevisible;
    animation-duration: 5s, 5s;
    animation-delay: 27s, 52s;
    animation-fill-mode: both, forwards;
}
.circle-transition19 {
    animation: circlemarkerTrans, makevisible;
    animation-duration: 5s, 5s;
    animation-delay: 32s, 52s;
    animation-fill-mode: both, forwards;
}
.circle-transition20 {
    animation: circlemarkerTrans, makevisible;
    animation-duration: 5s, 5s;
    animation-delay: 37s, 52s;
    animation-fill-mode: both, forwards;
}
.circle-transition21 {
    animation: circlemarkerTrans, makevisible;
    animation-duration: 5s, 5s;
    animation-delay: 42s, 52s;
    animation-fill-mode: both, forwards;
}
.circle-transition22 {
    animation: circlemarkerTrans, makevisible;
    animation-duration: 5s, 5s;
    animation-delay: 47s, 52s;
    animation-fill-mode: both, forwards;
}

/* Year-odex transitions */
@keyframes yearodexTrans {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes makevisible {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

#yearodex2014 {
    animation: yearodexTrans, makevisible;
    animation-duration: 5s, 5s;
    animation-delay: 7s, 52s;
    animation-fill-mode: both, forwards;
}
#yearodex2015 {
    animation: yearodexTrans, makevisible;
    animation-duration: 5s, 5s;
    animation-delay: 12s, 52s;
    animation-fill-mode: both, forwards;
}
#yearodex2016 {
    animation: yearodexTrans, makevisible;
    animation-duration: 5s, 5s;
    animation-delay: 17s, 52s;
    animation-fill-mode: both, forwards;
}
#yearodex2017 {
    animation: yearodexTrans, makevisible;
    animation-duration: 5s, 5s;
    animation-delay: 22s, 52s;
    animation-fill-mode: both, forwards;
}
#yearodex2018 {
    animation: yearodexTrans, makevisible;
    animation-duration: 5s, 5s;
    animation-delay: 27s, 52s;
    animation-fill-mode: both, forwards;
}
#yearodex2019 {
    animation: yearodexTrans, makevisible;
    animation-duration: 5s, 5s;
    animation-delay: 32s, 52s;
    animation-fill-mode: both, forwards;
}
#yearodex2020 {
    animation: yearodexTrans, makevisible;
    animation-duration: 5s, 5s;
    animation-delay: 37s, 52s;
    animation-fill-mode: both, forwards;
}
#yearodex2021 {
    animation: yearodexTrans, makevisible;
    animation-duration: 5s, 5s;
    animation-delay: 42s, 52s;
    animation-fill-mode: both, forwards;
}
#yearodex2022 {
    animation: yearodexTrans, makevisible;
    animation-duration: 5s, 5s;
    animation-delay: 47s, 52s;
    animation-fill-mode: both, forwards;
}


/* Description transition */
@keyframes transitionUp {
    from {
        opacity: 0;
        transform: translateY(10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}
#mapdescription {
    animation: transitionUp 3s;
    animation-delay: 7s;
    animation-fill-mode: both;
}