@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Open+Sans+Condensed:wght@300&family=Raleway:wght@200&family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Raleway+Dots&family=Raleway:wght@200;400&family=Roboto:wght@100&display=swap');

.map {
    height: 700px;
    width: 1200px;
    border-radius: 5px;
    opacity: 0;
}
body {
    background: linear-gradient(#223355, 70%, #aa8888);
    font-family: 'Raleway Dots', sans-serif;
}
html {
    min-height: 100%;
}
h1 {
    justify-items: center;
    font-family: 'Raleway';
    color: white;
    font-weight: lighter;
}
h3 {
    margin-top: 10px;
}
h5 {
    margin-bottom: 20px;
}
h3, h5 {
    text-align: center;
    font-family: 'Raleway';
    color: white;
    font-weight: 400;
}
button {
    text-align: justify;
    background: none;
    border: white;
}
hr {
    background-color: white;
    width: 60%;
}
hr.footnotes-sep {
    background-color: white;
    margin: 0px;
    opacity: 0.5;
    width: 30%;
}
hr.nextsection {
    background-color: white;
    opacity: 0.2;
    width: 90%;
    margin-bottom: 30px;
}
#clickhere {
    text-align: center;
    font-family: 'Raleway';
    color: white;
    font-weight: lighter;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1400px;
    flex-direction: column;
}
#mapdescription {
    text-align: justify;
    font-family: 'Raleway';
    color: white;
    width: 1200px;
    margin-top: 5px;
}
.footnotes {
    font-size: xx-small;
}
.footnotes-list {
    padding-inline-start: 5px;
    margin-inline-start: 5px;
}
a {
    color: lightskyblue;
}
.footnotes {
    font-size: smaller;
    text-align: left;
}

.leaflet-routing-container {
    display: none;
}
.leaflet-popup-content-wrapper {
    background: linear-gradient(to top, #D5E8EB, white);
    padding: 10px;
}
.leaflet-popup-content {
    background: linear-gradient(to top, #D5E8EB, white);
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    margin: 3px;
}
.leaflet-popup-tip {
    background: #D5E8EB;
}
.leaflet-interactive {
    stroke: red;
}
.linechartsection {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1400px;
    flex-direction: column;
    margin-left: auto;
    margin-right: 15%;
    overflow: hidden
}
#linechartdescription {
    text-align: left;
    font-family: 'Raleway';
    color: white;
    margin-top: 8%;
}
.tooltip {
    font-family: 'Raleway', sans-serif;
    color: white;
    background-color: red;
    pointer-events: none;  /* in order to stop tooltip from flickering when mouse is on tooltip itself */
}

/*#dropdown {
    position: absolute;  // Set this and set parent .linechartsection position relative to keep dropdown from moving all content
    top: 100px;
    right: 30%;
    z-index: 1;
    display: block;
    background-color: #aa8888;
    color: white;
    width: 150px;
    font-size: 15px;
    box-shadow: 0 0 5px white;
    cursor: pointer;
    text-align: center;
}
#dropdown option {
    display: none;
}
#dropdown:hover option {
    background-color: #aa8888;
    color: white;
    display: block;
}
#dropdown option:hover {
    background-color: #223355;
}*/

/* Heading and map transition */
@keyframes transitionDown {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}
h3 {
    animation: transitionDown 5s;
}
h5 {
    animation: transitionDown 5s;
    animation-delay: 2s;
    animation-fill-mode: both;
}
.map {
    animation: transitionDown 3s;
    animation-delay: 4s;
    animation-fill-mode: forwards;
}

/* Circle transition */
@keyframes circlemarkerTrans {
    0% {
        stroke: red;
        opacity: 0;
    }
    50% {
        stroke: red;
        opacity: 1;
    }
    100% {
        stroke: red;
        opacity: 0;
    }
}
.circle-transition14 {
    animation: circlemarkerTrans, makevisible;
    animation-duration: 5s, 5s;
    animation-delay: 7s, 52s;
    animation-fill-mode: both, forwards;
}
.circle-transition15 {
    animation: circlemarkerTrans, makevisible;
    animation-duration: 5s, 5s;
    animation-delay: 12s, 52s;
    animation-fill-mode: both, forwards;
}
.circle-transition16 {
    animation: circlemarkerTrans, makevisible;
    animation-duration: 5s, 5s;
    animation-delay: 17s, 52s;
    animation-fill-mode: both, forwards;
}
.circle-transition17 {
    animation: circlemarkerTrans, makevisible;
    animation-duration: 5s, 5s;
    animation-delay: 22s, 52s;
    animation-fill-mode: both, forwards;
}
.circle-transition18 {
    animation: circlemarkerTrans, makevisible;
    animation-duration: 5s, 5s;
    animation-delay: 27s, 52s;
    animation-fill-mode: both, forwards;
}
.circle-transition19 {
    animation: circlemarkerTrans, makevisible;
    animation-duration: 5s, 5s;
    animation-delay: 32s, 52s;
    animation-fill-mode: both, forwards;
}
.circle-transition20 {
    animation: circlemarkerTrans, makevisible;
    animation-duration: 5s, 5s;
    animation-delay: 37s, 52s;
    animation-fill-mode: both, forwards;
}
.circle-transition21 {
    animation: circlemarkerTrans, makevisible;
    animation-duration: 5s, 5s;
    animation-delay: 42s, 52s;
    animation-fill-mode: both, forwards;
}
.circle-transition22 {
    animation: circlemarkerTrans, makevisible;
    animation-duration: 5s, 5s;
    animation-delay: 47s, 52s;
    animation-fill-mode: both, forwards;
}

/* Year-odex transitions */
@keyframes yearodexTrans {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes makevisible {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

#yearodex2014 {
    animation: yearodexTrans, makevisible;
    animation-duration: 5s, 5s;
    animation-delay: 7s, 52s;
    animation-fill-mode: both, forwards;
}
#yearodex2015 {
    animation: yearodexTrans, makevisible;
    animation-duration: 5s, 5s;
    animation-delay: 12s, 52s;
    animation-fill-mode: both, forwards;
}
#yearodex2016 {
    animation: yearodexTrans, makevisible;
    animation-duration: 5s, 5s;
    animation-delay: 17s, 52s;
    animation-fill-mode: both, forwards;
}
#yearodex2017 {
    animation: yearodexTrans, makevisible;
    animation-duration: 5s, 5s;
    animation-delay: 22s, 52s;
    animation-fill-mode: both, forwards;
}
#yearodex2018 {
    animation: yearodexTrans, makevisible;
    animation-duration: 5s, 5s;
    animation-delay: 27s, 52s;
    animation-fill-mode: both, forwards;
}
#yearodex2019 {
    animation: yearodexTrans, makevisible;
    animation-duration: 5s, 5s;
    animation-delay: 32s, 52s;
    animation-fill-mode: both, forwards;
}
#yearodex2020 {
    animation: yearodexTrans, makevisible;
    animation-duration: 5s, 5s;
    animation-delay: 37s, 52s;
    animation-fill-mode: both, forwards;
}
#yearodex2021 {
    animation: yearodexTrans, makevisible;
    animation-duration: 5s, 5s;
    animation-delay: 42s, 52s;
    animation-fill-mode: both, forwards;
}
#yearodex2022 {
    animation: yearodexTrans, makevisible;
    animation-duration: 5s, 5s;
    animation-delay: 47s, 52s;
    animation-fill-mode: both, forwards;
}
#allyears {
    animation: yearodexTrans, makevisible;
    animation-duration: 5s, 5s;
    animation-delay: 52s, 52s;
    animation-fill-mode: both, forwards;
}


/* Description transition */
@keyframes transitionUp {
    from {
        opacity: 0;
        transform: translateY(10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}
#mapdescription {
    animation: transitionUp 3s;
    animation-delay: 7s;
    animation-fill-mode: both;
}

/* Click here and hr transition */
@keyframes clickheredelay {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
#clickhere, hr.clickherehr {
    animation: clickheredelay 3s;
    animation-delay: 53s;
    animation-fill-mode: both;
}